@import url('https://fonts.googleapis.com/css?family=Audiowide');

.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: block;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

*.displayBackground {
  opacity: 0;
}

*.fadeIn {
  opacity: 1;
  transition: 0.2s ease;
}

.home_container {
  font-family: 'Audiowide', cursive;
  color: #C0C0C0 !important;
  margin-left: auto;
  margin-right: auto;
}

.home_container h1 {
  font-size: 40px;
  text-align: left;
  margin-left: 10px;
}

.home_container h2 {
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
}

body {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-left: auto;
  margin-right: äuto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
    margin: 0px 10px;
    float: left;
}

#log {
  font-size: 10px;
  color: green;
  width: 980px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.title {
  width : 100%;
  height: 6em;
  background: #000;
}

.customBtn {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.customBtn:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
